<div class="dog" ng-class="{'sad': $ctrl.mood < .5}">
    <section class="speech-bubble" ng-show="$ctrl.mood >= .5">
        <p class="speech-text pet-me">Pet me!</p>
    </section>
    <section class="speech-bubble insuffcient-funds hide">
        <p class="speech-text">Not enough coins...</p>
    </section>
    <section class="speech-bubble" ng-show="$ctrl.mood < .5">
        <p class="speech-text">Please complete tasks...</p>
    </section>

    <div class="ears"></div>

    <div class="body">
        <div class="eyes">
            <div class="shine-left"></div>
            <div class="shine-right"></div>
            <div class="tear1"></div>
            <div class="tear2"></div>
        </div>
        <div class="beard">
            <div class="mouth">
                <div class="tongue"></div>
            </div>
        </div>
        <div class="bandana">
            <div class="bandana-curve"></div>
        </div>
        <div class="stomach">
        </div>
        <div class="legs">
            <div class="left"></div>
            <div class="right"></div>
            <div class="left-foot"></div>
            <div class="right-foot"></div>
        </div>
    </div>

    <div class="tail"></div>
    <div class="ball"></div>

</div>