<div class="dog" ng-class="{'sad': $ctrl.mood < 50}">
    <section class="speech-bubble" ng-show="$ctrl.mood >= 50">
        <p class="speech-text pet-me">Pet me!</p>
    </section>
    <section class="speech-bubble funds hide">
        <p class="speech-text not-enough-funds">Sorry, not enough coins! </p>
    </section>
    <section class="speech-bubble" ng-show="$ctrl.mood < 50">
        <p class="speech-text complete-tasks">Please complete tasks...</p>
    </section>

    <div class="ears"></div>

    <div class="body">
        <div class="eyes">
            <div class="shine-left"></div>
            <div class="shine-right"></div>
            <div class="tear1"></div>
            <div class="tear2"></div>
        </div>
        <div class="beard">
            <div class="mouth">
                <div class="tongue"></div>
            </div>
        </div>
        <div class="bandana">
            <div class="bandana-curve"></div>
        </div>
        <div class="stomach">
        </div>
        <div class="legs">
            <div class="left"></div>
            <div class="right"></div>
            <div class="left-foot"></div>
            <div class="right-foot"></div>
        </div>
    </div>

    <div class="tail"></div>
    <div class="ball"></div>
    <section class="mood-area">
        <section class="mood-bar">
            <section ng-style="{width:$ctrl.barPercent}" class="mood-fill">
                    <p class="mood-text">{{$ctrl.mood}}%</p>
            </section>
        </section>
        <p class="mood-label"> {{ $ctrl.name }}'s Mood  </p>
    </section>
</div>