<section class="main-container">
    <a href="#!/home" class="back-to-home"><i class="fa fa-arrow-left"></i></a>

    <section class="big-coin hide">
        <p class="coin-number">{{$ctrl.taskImportance}}</p>
        <!-- Will call currency here -->
        <img class="coin2" src="app/images/coin.svg" alt="coin image">
    </section>

    <section class="todo-header"></section>


    <i ng-click="$ctrl.showForm();" class="todo-add fas fa-plus"></i>
    <section class="box">
        <h2>Daily Habits</h2>
        <section ng-hide="task.completed === true && $ctrl.toggle === false" ng-repeat="task in $ctrl.dailyTask"
            ng-class="{'high-importance': task.importance === 3, 'med-importance': task.importance === 2}" class="daily-container">
            <section display-dir ng-click="$ctrl.completedTask(task)" class="fake-radio">
                <section ng-show="task.completed === true" class="fake-select"></section>
            </section>
            <input ng-model="task.task" class="task-name" ng-blur="$ctrl.updateTask(task);" ng-class="{'completed': task.completed === true}">
            <i display-dir class="fa fa-times delete-task-icon" aria-hidden="true" ng-click="$ctrl.delete(task.id)"></i>
        </section>
    </section>

    <section class="box">
        <h2>Weekly Habits</h2>
        <section ng-hide="task.completed === true && $ctrl.toggle === false" ng-repeat="task in $ctrl.weeklyTask" class="weekly-container"
            ng-class="{'high-importance': task.importance === 3, 'med-importance': task.importance === 2}">
            <section display-dir ng-click="$ctrl.completedTask(task)" class="fake-radio">
                <section ng-show="task.completed === true" class="fake-select"></section>
            </section>
            <input ng-model="task.task" class="task-name" ng-blur="$ctrl.updateTask(task);" ng-class="{'completed': task.completed === true}">
            <i display-dir class="fa fa-times delete-task-icon" aria-hidden="true" ng-click="$ctrl.delete(task.id)"></i>
        </section>
    </section>

    <section class="box">
        <h2>To-Do List</h2>
        <section ng-hide="task.completed === true && $ctrl.toggle === false" ng-repeat="task in $ctrl.todoTask" class="todo-container"
            ng-class="{'high-importance': task.importance === 3, 'med-importance': task.importance === 2}">
            <section display-dir ng-click="$ctrl.completedTask(task)" class="fake-radio">
                <section ng-show="task.completed === true" class="fake-select"></section>
            </section>
            <!-- <input ng-click="$ctrl.completedTask(task)" class="radio" type="radio"> -->
            <input ng-model="task.task" class="task-name" ng-blur="$ctrl.updateTask(task);" ng-class="{'completed': task.completed === true}">
            <i display-dir class="fa fa-times delete-task-icon" aria-hidden="true" ng-click="$ctrl.delete(task.id)"></i>
        </section>
    </section>

    <section class="form-modal" ng-if="$ctrl.getValue();">
        <section class="form-overlay"></section>
        <submit></submit>
    </section>


    <div class="toggle-container">
        <label for="toggle-check" class="switch">
            <input id="toggle-check" type="checkbox" ng-click="$ctrl.toggleCompleted();" />
            <div></div>
        </label>
        <section class="text-toggle" ng-class="{'hide': $ctrl.toggle === true}">Show Completed</section>
        <section class="text-toggle" ng-class="{'hide': $ctrl.toggle === false}">Hide Completed</section>
    </div>




</section>