<section class="toy-container">
    <section display-dir class="coin-container">
        <p class="currency">{{$ctrl.currency}}</p>
        <!-- Will call currency here -->
        <img class="coin" src="app/images/coin.svg" alt="coin image">
    </section>
    <section class="inventory-container dir-hide">
        <section class="inventory-item" ng-repeat="item in $ctrl.inventory">
            <section class="items" ng-click="$ctrl.buyItems(item.id, item)">
                <section class="price-container">
                    <img class="price-coin" src="app/images/coin.svg" alt="coin image">
                    <p>x{{item.price}}</p>
                </section>
                <img class="inventory-img" ng-src="{{item.image}}">
            </section>
        </section>
    </section>
    <section class="toys">
        <section class="toy1" ng-hide="$ctrl.inventory[0].bought === true">
            <img class="toy" ng-src="{{$ctrl.inventory[0].image}}" alt="teddybear">
        </section>
        <section class="toy2" ng-hide="$ctrl.inventory[1].bought === true">
            <img class="toy" ng-src="{{$ctrl.inventory[1].image}}" alt="treat">
        </section>
        <section class="toy3" ng-hide="$ctrl.inventory[2].bought === true">
            <img class="toy" ng-src="{{$ctrl.inventory[2].image}}" alt="treat">
        </section>
        <section class="toy4" ng-hide="$ctrl.inventory[3].bought === true">
            <img class="toy" ng-src="{{$ctrl.inventory[3].image}}" alt="treat">
        </section>
        <section class="toy5" ng-hide="$ctrl.inventory[4].bought === true">
            <img class="toy" ng-src="{{$ctrl.inventory[4].image}}" alt="treat">
        </section>
        <section class="toy6" ng-hide="$ctrl.inventory[5].bought === true">
            <img class="firehydrant" ng-src="{{$ctrl.inventory[5].image}}" alt="treat">
        </section>
    </section>
</section>